.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfbf4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-bilde {
  height: 50vmin;
}

.App-navy {
  color: #b1bfa5;
  font-family: "Helvetica";
  font-style: italic;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fcfbf4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
