.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfbf4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-bilde {
  height: 50vmin;
}

.App-navy {
  color: #b1bfa5;
  font-family: "Helvetica";
  font-size: large;
  font-style: italic;
  align-items: center;
}

.App-green-medium {
  color: #696a50;
  font-family: "Helvetica";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #66545e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  height: 100%;
  margin: 1%;
  padding: 0;
  background-color: #fcfbf4; /* Set background color for the entire page */
}

.App-parent-container {
  flex-direction: row;
  display: flex;
  height: 100%;
}

.App-container {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.App-text-small {
  color: #696a50;
}

.App-header {
  text-align: center;
  font-style: italic;
  font-family: "Helvetica";
  justify-content: center;
  padding-top: 10%;
  font-size: 40px;
  color: #696a50;
  font-weight: 600;
}

.App-header2 {
  text-align: center;
  color: #696a50;
  font-style: italic;
  font-family: "Helvetica";
  justify-content: center;
  text-decoration: underline;
  font-weight: 400;
  font-size: 30px;
  padding: 0%;
}

.App-program-beskrivelse {
  text-align: center;
  color: #696a50;
  font-style: italic;
  font-family: "Helvetica";
  justify-content: center;
  font-weight: 200;
  margin: 0;
  font-size: 23px;
}

.App-program-beskrivelse-siste {
  text-align: center;
  color: #696a50;
  font-style: italic;
  font-family: "Helvetica";
  justify-content: center;
  font-weight: 200;
  margin: 0;
  font-size: 23px;
  padding-bottom: 10%;
}

.App-header-frontpage {
  text-align: center;
  font-style: italic;
  font-family: "Helvetica";
  justify-content: center;
  padding-top: 5%;
  font-size: 40px;
  color: #696a50;
  font-weight: 600;
}

.App-frontpage2 {
  text-align: center;
  color: #696a50;
  font-family: "Helvetica";
  justify-content: center;
  font-weight: 200;
  margin: 0;
  font-size: 30px;
}

.App-img-container {
  flex-direction: column;
  display: flex;
  justify-content: flex-start; /* Changed to 'flex-start' for better compatibility */
  align-items: flex-start; /* Align items to the start (left) */
  width: 50%;
  height: 100%;
}

.App-img-container-overnatting {
  flex-direction: column;
  display: flex;
  justify-content: flex-start; /* Changed to 'flex-start' for better compatibility */
  align-items: flex-start; /* Align items to the start (left) */
  width: 100%;
  height: 1400px;
}

.App-bilde {
  padding-top: 20%;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

.App-overnatting3 {
  padding-top: 8%;
  text-align: center;
  color: #696a50;
  font-family: "Helvetica";
  justify-content: center;
  font-weight: 200;
  margin: 0;
  font-size: 30px;
}

.App-bilde-overnatting {
  padding-top: 10%;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}
